$text-color-light: #fefefb;
$text-color-brown: rgba(60, 24, 0, 0.8);
$text-color-dark-brown: #3c1800;
$text-color-brown-transparent: rgba(60, 24, 0, 0.2);
$text-colo-semi-transparent: rgba(60, 24, 0, 0.3);
$text-color-location: rgba(60, 24, 0, 0.5);
$btn-color-hover: rgba(60, 24, 0, 1);
$border-transparent: rgba(60, 24, 0, 0.1);
$accent: #f26c4f;
