$text-color-light: #fefefb;
$text-color-brown: rgba(#5F5F5F, 0.8);
$text-color-dark-brown: #5F5F5F;
$text-color-brown-transparent: rgba(#5F5F5F, 0.2);
$text-colo-semi-transparent: rgba(#5F5F5F, 0.3);
$text-color-location: rgba(#5F5F5F, 0.5);
$btn-color-hover: rgba(#5F5F5F, 1);
$border-transparent: rgba(#5F5F5F, 0.1);
