$text-color-light: #fefefb;
$text-color-brown: rgba(59, 92, 14, 0.8);
$text-color-dark-brown: #3b5c0e;
$text-color-brown-transparent: rgba(59, 92, 14, 0.2);
$text-colo-semi-transparent: rgba(59, 92, 14, 0.3);
$text-color-location: rgba(59, 92, 14, 0.5);
$btn-color-hover: rgba(59, 92, 14, 1);
$border-transparent: rgba(59, 92, 14, 0.1);
