/*
Inverted Triangle CSS
https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture
*/

// Settings – used with preprocessors and contain font, colors definitions, etc.
@import '01_settings/breakpoints';
@import '01_settings/colors';

// Tools – globally used mixins and functions. It’s important not to output any CSS in the first 2 layers.
@import '02_tools/functions';
@import '02_tools/mixins';

/*
Generic – reset and/or normalize styles, box-sizing definition, etc.
This is the first layer which generates actual CSS.
*/

/*
Elements – styling for bare HTML elements (like H1, A, etc.).
These come with default styling from the browser so we can redefine them here.
*/
@import '03_elements/fonts';
@import '03_elements/common';
@import '03_elements/radio';
@import '03_elements/cart';

// Global

// Components – specific UI components.
// This is where the majority of our work takes place and our UI components are often composed of Objects and Components

// Utilities – utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
