body {
    font-family: Montserrat, sans-serif;
    color: $text-color-brown;
    background-color: $text-color-light;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
p {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: $text-color-dark-brown;
    font-size: 14px;
    @include max-breakpoint(tablet-portrait) {
        font-size: 10px;
    }
}
