body {
    font-family: Montserrat, sans-serif;
    color: $text-color-brown;
    background-color: $text-color-light;
    font-size: 14px;
    line-height: 1.3;
    position: relative;
    min-height: 100vh;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
p {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: $text-color-dark-brown;
    font-size: 14px;
    @include max-breakpoint(tablet-portrait) {
        font-size: 12px;
    }
}
input,
button,
textarea {
    outline: none;
}

.h2-like {
    font-family: LawyerGothic, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    &--underlined {
        padding-bottom: 7px;
        border-bottom: 1px solid $text-color-brown-transparent;
    }
    @include max-breakpoint(tablet-portrait) {
        font-size: 21px;
    }
}

.btn {
    border-radius: 8px;
    background-color: $text-color-brown;
    font-family: LawyerGothic, sans-serif;
    font-weight: bold;
    color: $text-color-light;
    border-style: none;
    cursor: pointer;
    &:hover {
        background-color: $btn-color-hover;
    }
    &:disabled {
        background-color: $text-color-brown-transparent;
    }
}
.fixed-cart {
    position: fixed;
    right: 45px;
    top: 110px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid $text-color-location;
    &__counter {
        display: inline-block;
        width: 16px;
        height: 13px;
        border-radius: 2px;
        position: absolute;
        top: 30px;
        right: 20px;
        font-family: NotoSans, sans-serif;
        font-weight: normal;
        font-size: 10px;
        color: $text-color-location;
        background-color: white;
        border: 1px solid $text-color-location;
        text-align: center;
        line-height: 1;
    }
}
.h5-like {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    @include max-breakpoint(mobile-medium) {
        font-size: 12px;
    }
}
