.vdp-datepicker__calendar .cell.selected {
    background: $text-color-brown !important;
    color: $text-color-light;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 1px solid $text-color-brown-transparent !important;
}
