@font-face {
    src: url('~assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-family: 'Montserrat';
    font-weight: normal;
}
@font-face {
    src: url('~assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-family: 'Montserrat';
    font-weight: bold;
}
@font-face {
    src: url('~assets/fonts/RosamundaOne.ttf') format('truetype');
    font-family: 'RosamundaOne';
    font-weight: normal;
}
