.radio-container {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    user-select: none;
    margin-top: 24px;
    width: 100%;
    color: $text-color-location;
    opacity: 1;
    @include max-breakpoint(mobile-medium) {
        margin-top: 19px;
    }

    &:hover .radio-container__custom-radio {
        background-color: $text-color-brown-transparent;
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .radio-container__custom-radio:after {
            display: block;
        }

        &:checked ~ .radio-container__custom-radio,
        &:checked ~ .radio-container__text {
            color: $text-color-brown;
        }
        &:checked ~ .radio-container__custom-radio {
            border: solid 1px $text-color-brown;
        }
    }

    &__text {
        color: $text-color-location;
        opacity: 1;
        font-weight: 500;
    }

    &__custom-radio {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: solid 1px $text-color-location;
        border-radius: 50%;
        box-sizing: border-box;
        opacity: 1;

        &:after {
            content: '';
            position: absolute;
            display: none;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $text-color-brown;
        }
    }
}
