@function em($pixels, $context: $font-body) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}

@function rem($pixels) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($font-body)) {
        $font-body: $font-body * 1px;
    }

    @return $pixels / $font-body * 1rem;
}
