@mixin max-breakpoint($breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin button-reset() {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
    outline: none;
}
@mixin ul-reset() {
  padding: 0;
  li {
    list-style: none;

  }
}
